#header {
  color: black;
}
#header .navigation {
  font-size: 12px;
}
#header .logo {
  width: 300px;
}
h1 {
  font-size: 50px;
  color: red;
}
body {
  background-color: white;
}
/* Anh la Comment */
p {
  color: blue;
}
h3 {
  text-align: center;
}
#test {
  color: orange;
}
